/* Start Variables */
:root {
    --main-color:hsl(75, 94%, 57%);
}
/* Start Variables */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}
/* Media Queries */
@media (max-width:767px) {
    .container .card {
        max-width: 375px;
    }
}
@media (min-width:991px) {
    .container .card {
        max-width: 1440px;
    }
}
.container {
    border-radius: 18px;
}
.container .card {
    width: 400px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 18px;
}
.container .card .head {
    text-align: center;
}
.container .card .head img {
    width: 25%;
    border-radius: 50%;
    margin-top: 45px;
}
.container .card .head h1 {
    color:  hsl(0, 0%, 100%);
    font-size: 28px;
    margin-top: 40px;
}
.container .card .head address {
    color: var(--main-color);
    font-size: 15px;
    margin-bottom: 15px;
    font-style: normal;
}
.container .card .head q {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: normal;
}
.container .card .main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center
}
.container .card .main a {
    text-decoration: none;
    padding: 15px;
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    background-color: hsl(0, 0%, 20%);
    width: 320px;
    text-align: center;
    margin-bottom: 22px;
}
.container .card .main a:hover {
    background-color: var(--main-color);
    color: black;
}